<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head(title = 'Bank of Questions')"/>
<body>
<th:block th:replace="template :: header"/>

<main class="container">
    <div class="row g-5">
        <div class="col-md-8">
            <article class="blog-post">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="question : ${questionsPage.content}">
                        <td><a th:href="@{'/questions/'+${question.id}}" th:text="${question.name}"></a></td>
                    </tr>
                    </tbody>
                </table>

            </article>


            <nav aria-label="Pagination" class="blog-pagination" th:if="${questionsPage.totalPages > 0}">
                <a class="btn btn-outline-primary" th:class="${pageNumber==questionsPage.number + 1} ? 'btn btn-outline-primary disabled' : 'btn btn-outline-primary'"
                   th:href="@{''(size=${questionsPage.size}, page=${pageNumber})}"
                   th:each="pageNumber : ${pageNumbers}"
                   th:text=${pageNumber}></a>
            </nav>

        </div>

        <th:block th:replace="template :: sidebar"/>
    </div>

</main>

<th:block th:replace="template :: footer"/>
</body>
</html>